.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

Header {
  background-color: #5688ec;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-title {
  font-size: larger;
}

.selected {
  display: none;
}

.poke-img {
  height: 100px;
  width: 100px;
}

.list-item {
  list-style-type: none;
  color: black;
  display: inline-flex;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.pokeName {
  font-weight: 500;
}

.capitalize {
  text-transform: capitalize;
}

.search-page {
  display: grid;
  grid-template-columns: 1fr 3fr;

}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 2px solid red;
}

.main-area {
  grid-column-start: 2;
  grid-column-end: 3;
}

.search-bar {
  margin: 10px;
}

.sort-dropdown {
  margin-top: 10px;
}