.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

Header {
  background-color: #5688ec;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-title {
  font-size: larger;
}

.selected {
  display: none;
}

.poke-img {
  height: 100px;
  width: 100px;
}

.list-item {
  list-style-type: none;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.pokeName {
  font-weight: 500;
}